<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>

    </style>
</head>

<body><br />

    <div class="container">
        <h2>USER MOVIE LIST</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>MOVIE NAME</th>
                    <th>THEATER</th>
                    <th>DATE</th>
                    <th>TIME SLOT</th>
                </tr>
            </thead>
            <tbody>
                {{#each movieList }}
                <tr>
                    <td>{{this.MOVIE_NAME}}</td>
                    <td>{{this.THEATER_NAME}}</td>
                    <td>{{this.CREATE_DATE}}</td>
                    <td>{{this.SLOT_DTL}}</td>
                </tr>
                {{/each }}
            </tbody>
        </table>
    </div>

</body>

</html>

<script type="text/javascript">


</script>